/docs/build
Cargo.lock
/target
**/*.rs.bk
*.ll
tests/.tmp*
tests/create_me/

.helix/
.vscode/
*.DS_Store
*.wasm
*.abi
node_modules/
test_snapshots/
integration/soroban/addition.sol
integration/soroban/rust/target/
integration/anchor/target/