[package]
name = "solang"
version = "0.1.12"
authors = ["Sean Young <sean@mess.org>"]
homepage = "https://github.com/hyperledger-labs/solang"
documentation = "https://solang.readthedocs.io/"
license = "Apache-2.0"
build = "build.rs"
description = "Solang Solidity Compiler"
keywords = [ "solidity", "compiler", "solana", "substrate", "ewasm" ]
edition = "2021"

[build-dependencies]
cc = "1.0"

[dependencies]
regex = "1"
num-bigint = "0.4"
num-traits = "0.2"
parity-wasm = "0.45"
clap = "3.1"
hex = "0.4"
tiny-keccak = { version = "2.0", features = ["keccak"] }
serde_json = "1.0"
serde = "1.0"
serde_derive = { version = "1.0" }
inkwell = { version = "^0.1.0-beta.4", features = ["target-webassembly", "target-bpf", "no-libffi-linking", "llvm13-0"], optional = true }
blake2-rfc = "0.2.18"
handlebars = "4.2"
contract-metadata = "0.3.0"
semver = { version = "^1.0.3", features = ["serde"] }
tempfile = "3.3"
libc = { version = "0.2", optional = true }
tower-lsp = "0.17"
tokio = { version = "1.16", features = ["rt", "io-std", "macros"] }
base58 = "0.2.0"
sha2 = "0.10"
ripemd = "0.1"
bitvec = "0.20"
funty = "2.0"
itertools = "0.10"
num-rational = "0.4"
indexmap = "1.8"
once_cell = "1.10"
solang-parser = { path = "solang-parser", version = "0.1.14" }
codespan-reporting = "0.11"
phf = "0.10.1"
rust-lapper = "1.0"
bitflags = "1.3"

[dev-dependencies]
num-derive = "0.3"
parity-scale-codec = "3.1"
ethabi = "17.0"
wasmi = "0.11"
rand = "0.7"
sha2 = "0.10"
# solana_rbpf makes api changes in patch versions
solana_rbpf = "=0.2.31"
byteorder = "1.4"
assert_cmd = "2.0"
bincode = "1.3"
ed25519-dalek = "1.0"
path-slash = "0.1"
pretty_assertions = "1.2"
byte-slice-cast = "1.2.1"

[package.metadata.docs.rs]
no-default-features = true

[profile.release]
lto = true

[features]
default = ["llvm"]
llvm = ["inkwell", "libc"]

[workspace]
members = ["solang-parser"]
