name: Build and push ci image
on: [workflow_dispatch]
jobs:
  build-push-ci-image:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout sources
      uses: actions/checkout@v1
    - run: docker build -f build/ci.dockerfile -t hyperledgerlabs/solang:ci .
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DH_USER }}
        password: ${{ secrets.DH_KEY }}
    - run: docker push hyperledgerlabs/solang:ci
