name: Build and push ci image
on: [workflow_dispatch]
jobs:
  build-push-ci-image:
    runs-on: macos-arm
    steps:
    - name: Checkout sources
      uses: actions/checkout@v1
    - run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
          docker buildx build --platform linux/amd64,linux/arm64 -t ghcr.io/${GITHUB_REPOSITORY}:ci --push .github
